<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}HAVOC INC. PYTONORM {% endblock head_title%}</title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
    	{% include 'snippets/nav.html' %}
        <div class="container">
        	<p> FROM BASE.HTML </p>
        	{% block content %}
        		Super Content
        	{% endblock content %}

        	{% block content2 %}
        		NextContent
        	{% endblock content2 %}
        </div>
        {% include 'snippets/js.html' %}
    </body>
</html>
